<h1>BBQs</h1>

<a href="<%= new_barbecue_path %>" class="btn btn-primary">
  Add a new BBQ
</a>

<ul class="list-unstyled">
  <% @barbecues.each do |bbq| %>
  <li data-bbq="<%= bbq.id %>">
    <h2>
      <a href="<%= api_barbecue_path(bbq.id) %>">
        <%= bbq.title %>
      </a>
    </h2>

    <dl>
      <dt>Date:</dt>
      <dd><%= format_date(bbq.date) %></dd>
      <dt>Venue:</dt>
      <dd><%= bbq.venue %></dd>
    </dl>

    <% if !bbq.users.find_by(id: current_user.id) %>
      <button class="btn btn-success" data-hook="join-bbq">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Join <%= bbq.title %>
      </button>
    <% end %>
    <% if bbq.appointments.count > 0 %>
    <h4><b>Who's showing?</b></h4>
    <dl style="padding-left:30px;">
      <% bbq.appointments.each do |appt| %>
      <dt><%= appt.user.name %></dt>
      <dd>&rarr; bringing: <%= appt.bringing %></dd>
      <% end %>
    </dl>
    <% end %>
    <div style="background-color:#aaaaaa;height:10px;"></div>
  </li>
  <% end %>
</ul>
